/* global */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  max-width: 1440px;
}

body * {
  margin: 0;
  padding: 0;
}

body > * {
  margin: 0 150px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  max-width: fit-content;
}

tr th {
  padding: 2px;
}

td,
th {
  border: 1px solid gray;
}

td {
  text-align: center;
}

ul {
  list-style-type: none;
}

.header {
  text-align: center;
  margin-top: 10px;
}

/* averages */
#averages #value-inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#averages #value-inputs input {
  margin: 5px;
}

#averages #value-inputs #averages-btn-label {
  display: flex;
  justify-content: center;
}

#averages #means {
  text-align: left;
}

/* discount */

#discount #discount-els {
  min-width: min-content;
}

#discount #discount-els #labels-and-values {
  display: flex;
  flex-direction: column;
}

#discount #discount-els #labels-and-values .label-and-value {
  display: flex;
  justify-content: center;
}

#discount-els #discount-btn-container {
  display: flex;
  justify-content: center;
}

#discount-els #discount-btn-container #discount-btn {
  margin: 5px 0 5px 0;
}

/* payment */
#payment main {
  align-items: initial;
}

#payment main * {
  display: flex;
  justify-content: space-between;
  margin: 1px;
}

#payment main #calculate-payment-btn-container {
  justify-content: center;
}

#payment main #payment-calculation-container {
  justify-content: initial;
}

/* word-count */
#word-count td {
  padding: 5px;
}
