/* global */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  max-width: 1440px;
}

body * {
  margin: 0;
  padding: 0;
}

body > * {
  margin: 0 150px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
}

.header {
  text-align: center;
  margin-top: 10px;
}

/* averages */
#averages #value-inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#averages #value-inputs input {
  margin: 5px;
}

#averages #value-inputs #averages-btn-label {
  display: flex;
  justify-content: center;
}

#averages #means {
  text-align: left;
}

/* discount */
#discount table {
  max-width: fit-content;
}

#discount td,
#discount th {
  border: 1px solid gray;
}

#discount td.percent {
  text-align: center;
}

#discount #discount-els {
  min-width: min-content;
}

#discount #discount-els #labels-and-values {
  display: flex;
}

#discount #discount-els #labels-and-values #labels,
#discount #discount-els #labels-and-values #values {
  display: flex;
  flex-direction: column;
}

#discount-els #labels-and-values #labels label,
#discount-els #labels-and-values #values input {
  margin-bottom: 2px;
}

#discount-els #discount-btn-container {
  display: flex;
  justify-content: center;
}

#discount-els #discount-btn-container #discount-btn {
  margin: 5px 0 5px 0;
}
